@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e2e5f1;
  font-family: 'Poppins', sans-serif;
}

ul {
  position: relative;
  transform: skewY(-15deg);
  /* top: 50px;
  left: 50px; */
}

li {
  position: relative;
  list-style: none;
  width: 200px;
  padding: 15px;
  background: #1c291c;
  z-index: calc(1 * var(--i));
  transition: 0.5s;
}

li:hover {
  filter: brightness(1.6);
  transform: translateX(-50px);
}

li::before {
  font-family: "FontAwesome";
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-icon);
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #091F09;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

li:hover::before {
  background: #2F2216;
}

li::after {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #1c291c;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

li:hover::after {
  background: #2f2216;
}

li a {
  text-decoration: none;
  color: #999;
  display: block;
  letter-spacing: 0.8px;
  transition: 0.5s;
}

li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.4);
}